<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852757286752-kugafkiggf9c3ha2clnibl05640097d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852757286752-kugafkiggf9c3ha2clnibl05640097d2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852757286752-t1ob13q18286j05ibne3mq34if2fs39o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBG49Ugg9VqNWNWF09TTIoBfwAEGvrBzPs</string>
	<key>GCM_SENDER_ID</key>
	<string>852757286752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineReservationApp</string>
	<key>PROJECT_ID</key>
	<string>online-reservation-1d341</string>
	<key>STORAGE_BUCKET</key>
	<string>online-reservation-1d341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852757286752:ios:84eb13fcf0795104a31805</string>
</dict>
</plist>